@model FN.Store.UI.ViewModels.Conta.Login.LoginVM

@{
    ViewBag.Title = "Login";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    
    <form class="col-md-6 col-sm-12 " method="post">
        
        <div class="form-group mb-3">
            <label class="form-label">E-mail</label>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", autofocus = "" })
            <small>
                @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
            </small>
        </div>

        <div class="form-group mb-3">
            <label class="form-label">Senha</label>
            @Html.PasswordFor(m => m.Senha, new { @class = "form-control" })
            <small>
                @Html.ValidationMessageFor(m => m.Senha, null, new { @class = "text-danger" })
            </small>
        </div>

        <div class="form-group mb-3 form-check">
            @Html.CheckBoxFor(m => m.PermanecerLogado, new { @class = "form-check-input" })
            @Html.LabelFor(m => m.PermanecerLogado)
        </div>

        <div class="form-group  mb-3">
            <button class="btn btn-outline-secondary">
                Login
            </button>
            <a class="btn btn-outline-warning" href="@Url.Action("Index","Home")">Cancelar</a>
        </div>

    </form>
</div>

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.validate.js"></script>
}